[submodule "go-gfs"]
	path = go-gfs
	url = git@github.com:EddisonSo/go-gfs.git
	branch = main
[submodule "edd-cloud-interface"]
	path = edd-cloud-interface
	url = git@github.com:EddisonSo/edd-cloud-interface.git
	branch = main
[submodule "cluster-monitor"]
	path = cluster-monitor
	url = git@github.com:EddisonSo/cluster-monitor.git
[submodule "log-service"]
	path = log-service
	url = git@github.com:EddisonSo/log-service.git
