apiVersion: v1
kind: ServiceAccount
metadata:
  name: edd-compute
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: compute-spawner
rules:
  - apiGroups: [""]
    resources: [namespaces]
    verbs: [create, delete, get, list]
  - apiGroups: [""]
    resources: [pods, services, secrets, persistentvolumeclaims]
    verbs: [create, delete, get, list, watch]
  - apiGroups: [""]
    resources: [pods/exec]
    verbs: [create]
  - apiGroups: [networking.k8s.io]
    resources: [networkpolicies]
    verbs: [create, delete, get, list, update]
  - apiGroups: [metrics.k8s.io]
    resources: [pods]
    verbs: [get, list]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: edd-compute-spawner
subjects:
  - kind: ServiceAccount
    name: edd-compute
    namespace: default
roleRef:
  kind: ClusterRole
  name: compute-spawner
  apiGroup: rbac.authorization.k8s.io
---
# CI/CD access to rollout edd-compute
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: edd-compute-ci-rollout
  namespace: default
subjects:
  - kind: ServiceAccount
    name: gfs-ci
    namespace: cicd
  - kind: ServiceAccount
    name: edd-cloud
    namespace: cicd
roleRef:
  kind: Role
  name: gfs-rollout
  apiGroup: rbac.authorization.k8s.io
