apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: gfs-rollout
  namespace: default
rules:
  - apiGroups: ["apps"]
    resources: ["deployments", "daemonsets"]
    verbs: ["get", "list", "watch", "patch"]
  - apiGroups: ["apps"]
    resources: ["replicasets"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: gfs-rollout-binding
  namespace: default
subjects:
  - kind: ServiceAccount
    name: gfs-ci
    namespace: cicd
roleRef:
  kind: Role
  name: gfs-rollout
  apiGroup: rbac.authorization.k8s.io

